---
import Modal from "./Featured/Modal.astro";
import { getCollection } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.order.valueOf() - a.data.order.valueOf(),
);
;
---

<section
  id="work"
  class="py-2 mb-8 md:py-4 lg:py-7 xl:py-10 px-6 max-w-400 mx-auto flex flex-col items-center"
  transition:animate="fade"
>
  <div class="text-center mt-1 mb-4 md:mb-8">
    <div style="opacity: 1; transform: none;">
      <h2 class="font-heading text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-primary mb-2 md:mb-4 lg:mb-6">
        Featured Projects
      </h2>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
    {
      projects.map((project: { id: string; data: { images: string[]; client: string; year?: number[]; order?: number; title: string; blurb: string; iframe?: string; }; }) => (
        <div>
          <div class="border-foreground/10 cursor-pointer h-124 md:h-144 lg:h-158 xl:h-194 2xl:h-214 text-foreground group overflow-hidden border shadow-xl hover:shadow-2xl transition-all duration-500 bg-background rounded-2xl"
            onclick=`openModal("${project.id}")`
          >
            <div class="relative">
              <img
                src=`${project.data.images[0]}`
                alt=`${project.data.title} project image`
                class="w-full h-60 md:h-80 lg:h-100 xl:h-120 2xl:h-140 object-scale-down hover:scale-110 transition-transform duration-700"
                width="400"
                data-dynamic="alt src"
              />
            </div>
            <div class="p-6">
              <div class="flex items-center justify-start mb-3">
                <div
                  class="flex items-center text-autumn text-xl"
                  data-dynamic="text"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-4 w-4 mr-1"
                  >
                    <>
                      <path d="M8 2v4" />
                      <path d="M16 2v4" />
                      <rect width="18" height="18" x="3" y="4" rx="2" />
                      <path d="M3 10h18" />
                    </>
                  </svg>
                  <span>
                    {project.data.year?.join('-')}
                  </span>
                </div>
              </div>
              <h3
                class="font-heading text-xl md:text-2xl lg:text-3xl xl:text-4xl text-primary mb-2 group-hover:text-secondary transition-colors"
                data-dynamic="text"
              >
                {project.data.title}
              </h3>
              <div class="overflow-y-scroll">
              <p
                class="font-paragraph text-black font-normal text-base md:text-lg lg:text-xl xl:text-2xl leading-relaxed overflow-y-auto max-h-40 pb-6"
                data-dynamic="text"
              >
                {project.data.blurb}
              </p>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
  <Modal projects={projects} />
</section>
